@model Company
@{
    ViewData["Title"] = "AddCompany";
}

<h1>AddCompany</h1>
<form method="post">
    <div class="form-group">
        <p>Имя</p>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <p>Описание</p>
        <input type="text" class="form-control" asp-for="Country" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <br />
    <button class="btn btn-success">Отправить</button>
</form>

