@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background:url(/logoza_ru.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #but{
        height:100%;
    }
    main{
        height:100%;
    }
</style>
<div class="text-center" id="but">
    <button class="btn btn-dark">Просмотреть</button>
</div>
