@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<style>
    body {
        background: #000 url(/logoza_ru.png);
        background-size: 700px 470px;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment:fixed;
    }

    #but {
        height: 100%;
    }
    #buttocent{
        position:absolute;
        top:70%;
    }

    main {
        height: 100%;
    }
</style>

<div class="container-fluid" id="buttocent">
    <div class="text-center" id="but">
        <button class="btn btn-outline-light">Просмотреть</button>
    </div>
</div>




