@model Car;

<p>
    <img src="~/@Model.Picture" alt="Alternate Text" class="d-block w-100 img-fluid" />
    <div class="active">
        <div class="text-light"> Название: @Model.Name</div>
        <div class="text-light">Описание: @Model.Description</div>
        <div class="text-light">Стоимость: @Model.Price</div>
        <a asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.Id">Добавить в корзину</a>
    </div>
</p>