@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<style>
    body {
        background: #000 url(/logoza_ru.png);
        background-size: 700px 470px;
        background-repeat: no-repeat;
        background-position-x:50%;
        background-position-y:50%
        
    }

    #but {
        height: 100%;
    }

    #buttocent {
        position: absolute;
        top: 70%;
        left: 45%;
    }

    .bd-example {
        position: absolute;
        height: 30%;
        width: 30%;
        top: 120%;
        left: 30%;
    }
    .navbar navbar-expand-sm navbar-toggleable-sm  mb-3{
        background:#000000
    }
   
</style>

<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm  mb-3 border-bottom border-white">
        <div class="container">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">TraineeShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <hr />
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Add" asp-action="AddCompany">Add company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Add" asp-action="AddCar">Add car</a>
                    </li>
                </ul>  
            </div> 
        </div>   
    </nav>
    
    <div id="buttocent">
        <div class="text-center" id="but">
            <hr>
            <a class="btn btn-outline-light text-light" asp-area="" asp-controller="Cars" asp-action="Index">Просмотреть</a>
        </div>
    </div>
    

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>



